

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	width: 100vw;
}


.board {
	display: flex;
	margin: auto;
  background-color: #4a873b;
  width: 45%;
  height: 85%;
	perspective: 1000px;
}

.deck {
  display: grid;
  grid-template: repeat(4, 2fr) / repeat(5, 2fr);
  height: 100%;
  width: 100%;
}

.card {
	position: relative;
  background-color: aliceblue;
  margin: .5rem;
	border-radius: 5px;
	transform-style: preserve-3d;
	transition: transform .5s;
	animation-duration: .75s;
}

.back-face,
.front-face{
	position: absolute;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	pointer-events: none;
	backface-visibility: hidden;
	border-radius: 5px;
	
}

.card:hover {
	cursor: pointer;
}

.front-face {
	transform: rotateY(180deg);
}

.card.flip {
	transform: rotateY(180deg);
}


