

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
  height: 100vh;
}


.board {
	display: flex;
	margin: auto;
  background-color: #4a873b;
  width: 65vw;
  height: 65vh;
	perspective: 1000px;
}

.deck {
  display: grid;
  grid-template: repeat(4, 2fr) / repeat(5, 2fr);
  height: 100%;
  width: 100%;
}

.card {
  background-color: aliceblue;
  margin: .5rem;
	transform-style: preserve-3d;
	transition: transform .5s;
	border-radius: 5px;
	background-size: 100% 100%;
}


.card:hover {
	cursor: pointer;
}

.card.flip {
	transform: rotateY(180deg);
	animation-duration: .75s;
	background: black;
}

